*{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
/*ENCABEZADO*/
.cabecera{
    width: 99.1vw;
    height: 12vh;
    float: left;
    background-color: #00B871;
}
.icono{
    width: 4.5vw;
    height: 8.4vh;
    float: left;
    margin: 1.5vh 2vw 1.5vh 2vw; /* Superior, Derecho, Inferior, Izquierdo*/
}
.nombre{
    margin: 3.5vh 0vw 0vh 0vw;
    float: left;
    color: #EFEFEF;
}
.buscar{
    width: 18vw;
    height: 5vh;
    float: left;
    margin: 3vh 5vw 1.5vh 22vw; 
    
}
.buscar-input{
    margin-top: 1vh;
    height: 3vh;
    width: 13vw;
    border-radius: 7px;
    padding-left: .5vw;
    border: none;
}
.buscar-input:focus{
    color: #064789;
    border: 2px solid #064789;
    outline: none;
    outline-width: 0;
}
.buscar-btn{
    height: 2.5vh;
    width: 3vw;
    background-color: #00B871;
    border: none;
    border-radius: 7px;
    color: #EFEFEF;
    font-size: 1.5vh;
}
.buscar-btn:hover{
    cursor: pointer;
    color: #00B871;
    background-color: #EFEFEF;
}
.login{
    margin: 3.5vh 5vw 10vh 20vw  ;
    float: left;
    font-size: 1.6vh;
}
li{
    list-style-type: none;
}
.log-a{
    text-decoration: none;
    color: #EFEFEF;
}
.log-a:hover{
    color:#064789;
}

/*MENU DE NAVEGACION*/
.img-menu-cerrar{
    width: 1.5vw;
    height: 2.7vh;
}
.img-menu{
    width: 2vw;
    height: 3.7vh;
    margin-left: 2vw;
    margin-top: 4vh;
    float: left;
}
.icon-menu{
    cursor: pointer;  
}
#btn-menu{
    display: none;   
}
.container-menu{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 127%;
    top:0; left:0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #EFEFEF;
    height: 127vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #064789;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #2FDF84;
    background: #D5DBE1;
    color: #2FDF84;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
}

/*LIBRO*/
#Img-libro{
    width: 20vw;
    height: 50vh;
    float: left;
    margin: 3%;
    margin-left: 5%;
    border-radius: 14px;
}
#info-libro{
    width: 40%;
    height: 80vh;
    float:left;
    margin:5%;
}
#titulo{
    margin: 1%;
    margin-bottom: 1%;
    font-family: sans-serif;
    font-size: 2vw;
    color: #00B871;
    text-align: left;
}
#autor {
    margin: 1%;
    margin-bottom: 3%;
    font-family: sans-serif;
    font-size: 1vw;
    color: #00B871;
    text-align: left;
}
#descripcion{
    margin-top: 3%;
    font-size: 1vw;
    color: #999ba2;
    float: left;
    text-align: justify;
    line-height: 27px;
}
#apartar{
    width: 4vw;
    height: 6vh;
    float: left;
    margin-top: 12%;
    margin-left: 5%;
    color: #3c3d45;
    font-size: 1.3vw;
    font-weight: bold;
}
#apartar:hover { 
    color: #00B871;
     }

/*CALIFICACIÓN*/
#calific {
    width: 250px;
    float: right;
    height: 50px;
}

#calific label {
  font-size: 30px;
}

input[type="radio"] {
  display: none;
}

label {
    color: grey;
    font-size: 1.3vw;
    margin-top: 35%;
    margin-right: 1.3%;
    float: right;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

#califica {
    width: 4vw;
    height: 6vh;
    float: right;
    margin-top: 12%;
    margin-right: 5%;
}
/*PIE DE PÁGINA*/
footer{
    width: 99.1vw;
    height: 15vh;
    float: left;
    background-color: #797270;
    color: #D5DBE1;
}
.info{
    margin: 20px;
}
.footer-a{
    text-decoration: none;
    color:#064789;
}